/* BASE SIDEBAR */
.sidebar {
  min-height: 100vh;
  background:var(--surface);
  color:var(--text);

  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--border);

  transition: width 0.3s ease;
 
  overflow: hidden;
}

/* WIDTH STATES */
.sidebar.open {
  width: 220px;
}

.sidebar.closed {
  width: 70px;
}

/* LOGO AREA */
.logo {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo.closed {
  justify-content: center;
  padding: 16px 0;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
}

/* TOGGLE BUTTON */
.toggle {
  background: transparent;
  border: none;
  color: var(--text);
  font-size: 22px;
  cursor: pointer;
}

/* MENU */
.menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* ITEMS */
.item {
  color: var(--text);
  text-decoration: none;

  padding: 10px;
  border-radius: 10px;

  transition: 0.2s;

  display: flex;
  align-items: center;
  gap: 10px;
}

.item:hover {
  background:var(--hover);
}

/* ACTIVE LINK (NavLink auto class) */
.item.active {
  background: var(--hover);
  border-left: 3px solid var(--primary);
}
.logout {
  margin-top: auto;
  padding: 12px;
  border: none;
  background: #dc2626;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  margin: 12px;
}
[dir="rtl"] .sidebar {

border-right:none;

border-left:1px solid var(--border);

}


[dir="ltr"] .sidebar {

border-left:none;

border-right:1px solid var(--border);

}
@media (max-width: 768px) {

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    z-index: 1000;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    width: 220px !important;
  }


  .sidebar.open {
    transform: translateX(0);
  }


  .sidebar.closed {
    width: 220px !important;
  }


  [dir="rtl"] .sidebar {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }


  [dir="rtl"] .sidebar.open {
    transform: translateX(0);
  }


  .toggle {
    position: fixed;
    top: 15px;
    left: 15px;

    z-index: 1100;

    background: var(--surface);
    border: 1px solid var(--border);

    width: 40px;
    height: 40px;

    border-radius: 8px;
  }


  [dir="rtl"] .toggle {
    left: auto;
    right: 15px;
  }

}